name: CI Docker Server

on:
  workflow_dispatch:
    inputs:
      duration:
        description: "Thời gian chạy (giờ)"
        required: true
        default: "6"
        type: choice
        options:
          - "1"
          - "2"
          - "3"
          - "4"
          - "5"
          - "6"

jobs:
  ssh-server:
    runs-on: ubuntu-latest
    timeout-minutes: 360

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        timeout-minutes: 360
        with:
          limit-access-to-actor: false
          install-dependencies: true

      - name: Keep job running
        run: |
          HOURS=${{ github.event.inputs.duration }}
          SECONDS=$((HOURS * 3600))
          echo "Keeping job alive for $HOURS hours ($SECONDS seconds)"
          sleep $SECONDS
