name: CI Docker Server

on:
  workflow_dispatch:

jobs:
  ssh-server:
    runs-on: ubuntu-latest

    steps:
      # - name: Checkout code
      #   uses: actions/checkout@v4

      - name: Verify Docker is available
        run: |
          docker --version
          docker compose version

      - name: SSH via tmate
        uses: mxschmitt/action-tmate@v3
        with:
          limit-access-to-actor: true

      - name: Sleep for max GitHub limit (6 hours)
        run: |
          echo "Sleeping for 6 hours (21600 seconds)"
          sleep 21600

      - name: Stop containers
        if: always()
        run: |
          docker compose down
